<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="fragments.html :: headerfiles">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    </head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <!-- Page content goes here -->
        <div class="container">
            <div id="accordion">
                <div th:each="thm, iter: ${themes}" th:class="${iter.index == 0 ? 'card' : 'card collapsed'}">
                    <div class="card">
                        <div class="card-header" th:id="'heading-' + ${iter.index}">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="${'#collapse-' + iter.index}"
                                        aria-expanded="false" aria-controls="collapseOne" th:text="${thm.name}"></button>
                            </h2>
                        </div>
                        <div th:attr="id=${'collapse-' + iter.index}" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div id="accordion2">
                                    <div th:each="qst, iter1: ${thm.questions}" th:class="${iter1.index == 0 ? 'card' : 'card collapsed'}">
                                        <div class="card">
                                            <div class="card-header" th:id="'inheading-' + ${iter1.index}">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="${'#incollapse-' + iter1.index}"
                                                            aria-expanded="false" aria-controls="collapseOne" th:text="${qst.text}"></button>
                                                </h2>
                                            </div>
                                            <div th:attr="id=${'incollapse-' + iter1.index}" class="collapse" data-parent="#accordion2">
                                                <div class="card-body">
                                                    <form th:id="${'question-info-form' + iter.index + iter1.index}" method="post">
                                                        <input type="text" name="questionId" th:value="${iter1.index}" hidden="hidden"/>
                                                        <div class="form-group">
                                                            <label for="mark">Точность ответа</label>
                                                            <select class="form-select" aria-label="quality" name="mark" id="mark">
                                                                <option selected>Выберите вариант</option>
                                                                <option value="1">Не ответил</option>
                                                                <option value="2">Ответил неточно</option>
                                                                <option value="3">Ответил правильно</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="additionalInfo">Замечания</label>
                                                            <textarea class="form-control" id="additionalInfo" name="additionalInfo" rows="3"></textarea>
                                                        </div>
                                                        <button th:id="${'submit-question-info' + iter.index + iter1.index}" type="button" class="btn btn-primary">Сохранить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" th:action="@{interview/stop}">
                <input type="text" name="candidateId" th:value="${candidateId}" hidden="hidden"/>
                <button type="submit" class="btn btn-primary btn-block">Завершить интервью</button>
            </form>
        </div>
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
        <script th:inline="javascript">
            let candidateId = [[${candidateId}]];
            $(function() {
                $("*[id^='submit-question-info']").click(function (e) {
                    saveForm(this.id.slice("submit-question-info".length));
                });
            });

            function saveForm(id){
                console.log(id);
                $.ajax({
                    method: "POST",
                    url: "/question-info",
                    data: JSON.stringify(getFormData($('#question-info-form' + id))),
                    contentType : 'application/json',
                    success: function(status){
                        if(status) {
                            console.log(status);
                            //here you check the response from your controller and add your business logic
                        }
                    }
                });
            }

            function getFormData($form){
                let config = {};
                $form.serializeArray().map(function(item) {
                    if ( config[item.name] ) {
                        if ( typeof(config[item.name]) === "string" ) {
                            config[item.name] = [config[item.name]];
                        }
                        config[item.name].push(item.value);
                    } else {
                        config[item.name] = item.value;
                    }
                })
                config["candidateId"] = candidateId;
                console.log(config);
                return config;
            }
        </script>
    </body>
</html>